
* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto minmax(100px, auto);
    column-gap: 8px;
    row-gap: 8px;
}

.card {
    height: 200px;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* @media (max-width: 1366px) {
    .container{
        grid-template-columns: repeat(8, 1fr);
    }
} */
@media (max-width: 1366px) {
    .card{
        grid-column: span 2;
    }
}